{% extends 'base.html' %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
<header class="row mkdevs-welcome-section">
    <h2 class="col-12 text-center mkdevs-section-title"">About mkdevs</h1>
    <p class="col-12 text-center">
        By the past, I worked for several companies in very different business branches like steel production, banking, insurances, commerce & e-commerce, and so on, and so on.
    </p>
    <p class="col-12 text-center">
        I have a real pation for IT, new technoligies. I can, and like, to act on development (frontend, backend orboth)  and deployment of any solution.
        My soft skills are among others:
        <ul class="col-12 text-center mkdevs-ul">
            <li>
                <i>Rigor</i>;
            </li>
            <li>
                <i>Respect</i>;
            </li>
            <li>
                <i>Listening</i>;
            </li>
            <li>
                <i>Open-mindedness</i>;
            </li>
            <li>
                <i>Acquiring new skills</i>;
            </li>
        </ul>
    </p>
</header>

<div class="mkdevs-section mkdevs-container-inner mkdevs-technos">
    <div class="row">
        <h2 class="col-12 text-center mkdevs-techno-h2">Technologies</h2>
        <h3 class="col-12 text-center mkdevs-techno-h3">Backend</h2>
        <article class="col-lg-6">
            <figure class="mkdevs-techno">
                <img src="/static/img/icons/144x144/python.png" alt="Python" class="img-fluid mkdevs-techno-img" />
                <figcaption class="mkdevs-techno-description">
                    <h4 class="mkdevs-techno-description">Python</h4>
                    <p class="mkdevs-techno-version">2.x and 3.x</p>
                    <p class="mkdevs-techno-about"></p>
                    <div>
                        <a href="https://python.org" class="mkdevs-social-link">
                            <img src="/static/img/icons/48x48/python.png" alt="Python" />
                        </a>
                        <a href="https://pep.python.org" class="mkdevs-social-link">
                            <img src="/static/img/icons/48x48/pep.png" alt="PEP" />
                        </a>
                    </div>
                </figcaption>
            </figure>
        </article>
        <article class="col-lg-6">
            <figure class="mkdevs-techno">
                <img src="/static/img/icons/144x144/django.png" alt="django" class="img-fluid mkdevs-techno-img" />
                <figcaption class="mkdevs-techno-description">
                    <h4 class="mkdevs-techno-description">Django</h4>
                    <p class="mkdevs-techno-version">3.x.y and 4.x.y</p>
                    <p class="mkdevs-techno-about"></p>
                    <div>
                        <a href="https://www.djangoproject.com/" class="mkdevs-social-link">
                            <img src="/static/img/icons/48x48/django.png" alt="Django" />
                        </a>
                    </div>
                </figcaption>
            </figure>
        </article>
        <article class="col-lg-6">
            <figure class="mkdevs-techno">
                <img src="/static/img/icons/144x144/flask.png" alt="django" class="img-fluid mkdevs-techno-img" />
                <figcaption class="mkdevs-techno-description">
                    <h4 class="mkdevs-techno-description">Flask</h4>
                    <p class="mkdevs-techno-version">2.3.x</p>
                    <p class="mkdevs-techno-about"></p>
                    <div>
                        <a href="https://flask.palletsprojects.com/en/2.3.x/" class="mkdevs-social-link">
                            <img src="/static/img/icons/48x48/flask.png" alt="Flask" />
                        </a>
                    </div>
                </figcaption>
            </figure>
        </article>
        <article class="col-lg-6">
            <figure class="mkdevs-techno">
                <img src="/static/img/icons/144x144/nodejs.png" alt="Nodejs" class="img-fluid mkdevs-techno-img" />
                <figcaption class="mkdevs-techno-description">
                    <h4 class="mkdevs-techno-description">Nodejs</h4>
                    <p class="mkdevs-techno-version">4.9.1 until 20.3.1</p>
                    <p class="mkdevs-techno-about"></p>
                    <div>
                        <a href="https://nodejs.org/en" class="mkdevs-social-link">
                            <img src="/static/img/icons/48x48/nodejs.png" alt="Node" />
                        </a>
                    </div>
                </figcaption>
            </figure>
        </article>

        <h3 class="col-12 text-center mkdevs-techno-h3">Frontend</h3>
        <article class="col-lg-6">
            <figure class="mkdevs-techno">
                <img src="/static/img/icons/144x144/typescript.png" alt="Typescript" class="img-fluid mkdevs-techno-img" />
                <figcaption class="mkdevs-techno-description">
                    <h4 class="mkdevs-techno-description">Typescript</h4>
                    <p class="mkdevs-techno-version">2.0.2 until 5.x.y</p>
                    <p class="mkdevs-techno-about"></p>
                    <div>
                        <a href="https://www.typescriptlang.org/" class="mkdevs-social-link">
                            <img src="/static/img/icons/48x48/typescript.png" alt="Typescript" />
                        </a>
                    </div>
                </figcaption>
            </figure>
        </article>
        <article class="col-lg-6">
            <figure class="mkdevs-techno">
                <img src="/static/img/icons/144x144/angular.png" alt="Angular" class="img-fluid mkdevs-techno-img" />
                <figcaption class="mkdevs-techno-description">
                    <h4 class="mkdevs-techno-description">Angular</h4>
                    <p class="mkdevs-techno-version">JS until v15.0</p>
                    <p class="mkdevs-techno-about"></p>
                    <div>
                        <a href="https://angular.io" class="mkdevs-social-link">
                            <img src="/static/img/icons/48x48/angular.png" alt="Angular" />
                        </a>
                    </div>
                </figcaption>
            </figure>
        </article>

        <h3 class="col-12 text-center mkdevs-techno-h3">DevOps</h3>
        <article class="col-lg-6">
            <figure class="mkdevs-techno">
                <img src="/static/img/icons/144x144/docker.png" alt="Docker" class="img-fluid mkdevs-techno-img" />
                <figcaption class="mkdevs-techno-description">
                    <h4 class="mkdevs-techno-description">Docker</h4>
                    <p class="mkdevs-techno-version"></p>
                    <p class="mkdevs-techno-about"></p>
                    <div>
                        <a href="https://www.docker.com/" class="mkdevs-social-link">
                            <img src="/static/img/icons/48x48/docker.png" alt="Docker" />
                        </a>
                    </div>
                </figcaption>
            </figure>
        </article>
        <article class="col-lg-6">
            <figure class="mkdevs-techno">
                <img src="/static/img/icons/144x144/k8s.png" alt="k8s" class="img-fluid mkdevs-techno-img" />
                <figcaption class="mkdevs-techno-description">
                    <h4 class="mkdevs-techno-description">Kubernetes</h4>
                    <p class="mkdevs-techno-version"></p>
                    <p class="mkdevs-techno-about"></p>
                    <div>
                        <a href="https://kubernetes.io/" class="mkdevs-social-link">
                            <img src="/static/img/icons/48x48/k8s.png" alt="k8s" />
                        </a>
                    </div>
                </figcaption>
            </figure>
        </article>
        <article class="col-lg-6">
            <figure class="mkdevs-techno">
                <img src="/static/img/icons/144x144/saltstack.png" alt="Saltstack" class="img-fluid mkdevs-techno-img" />
                <figcaption class="mkdevs-techno-description">
                    <h4 class="mkdevs-techno-description">Saltstack</h4>
                    <p class="mkdevs-techno-version">3005.1</p>
                    <p class="mkdevs-techno-about"></p>
                    <div>
                        <a href="https://saltproject.io/" class="mkdevs-social-link">
                            <img src="/static/img/icons/48x48/saltstack.png" alt="Saltstack" />
                        </a>
                    </div>
                </figcaption>
            </figure>
        </article>
 
    </div>
</div>
{% endblock %}
