{% extends 'base.html' %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
<header class="row mkdevs-welcome-section">
    <h2 class="col-12 text-center mkdevs-section-title"">Contact me</h1>
</header>

<div class="mkdevs-container-inner-2 mkdevs-contact-section">
    <div class="row">
        <div class="col-md-6">
            <form action="" method="POST" class="mkdevs-contact-form">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                    {{ field.errors }}
                    {{ field }}
                </div> 
                {% endfor %}
                <div class="form-group mkdevs-d-flex">
                    <button type="submit" class="mkdevs-btn mkdevs-btn-success mkdevs-btn-right">
                        Send
                    </button>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <div class="mkdevs-address-box">
                <h4 class="mkdevs-info-title mkdevs-text-success">My Address</h4>
                <address>
                    12 Quai Paul Wiltzer<br />57000 Metz<br/>Moselle, France 
                </address>
                <a href="tel:080-090-0110" class="mkdevs-contact-link">
                    <i class="fas fa-phone mkdevs-contact-icon"></i>+33 (0)6 XX XX XX XX
                </a>
                <a href="mailto:info@company.co" class="mkdevs-contact-link">
                    <i class="fas fa-envelope mkdevs-contact-icon"></i>info@mkdevs.fr
                </a>
                <div class="mkdevs-contact-social">
                    <a href="https://fb.com/templatemo" class="mkdevs-social-link"><i class="fab fa-facebook mkdevs-social-icon"></i></a>
                    <a href="#" class="mkdevs-social-link"><i class="fab fa-twitter mkdevs-social-icon"></i></a>
                    <a href="#" class="mkdevs-social-link"><i class="fab fa-instagram mkdevs-social-icon"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mkdevs-container-inner-2 mkdevs-map-section">
    <div class="row">
        <div class="col-12">
            <div class="mkdevs-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2610.9655526278293!2d6.164047412967567!3d49.125289381766166!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4794deaca31beb9d%3A0x26bfe200588f9760!2s12%20Quai%20Paul%20Wiltzer%2C%2057000%20Metz!5e0!3m2!1sen!2sfr!4v1687720979777!5m2!1sen!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</div>

{% endblock %}
