[Unit]
Description=mkdevs daemon
Requires=mkdevs.socket
After=network.target

[Service]
User=mkdevs
Group=www-data
WorkingDirectory=/home/mkdevs/mkdevs/src
ExecStart=/home/mkdevs/.virtualenvs/mkdevs/bin/gunicorn \
            --access-logfile - \
            --workers 3 \
            --bind unix:/run/mkdevs.sock \
            mkdevs.wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID

[Install]
WantedBy=multi-user.target
