{% extends 'base.html' %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
<header class="row mkdevs-welcome-section">
    <h2 class="col-12 text-center mkdevs-section-title"">Welcome to mkdevs!</h1>
    <p class="col-12 text-center">Need a quality development to improve your presence on the web or simply manage your activity, your customers, your planning, etc, etc... describe your needs to me and I will create your tailor-made solution for you .</p>
</header>
{% endblock %}
